.DS_store
helm-charts/build
helm-charts/test-infra
*.swp
release/bin/eks-distro-release
release/cover.out
.idea
index.yaml
eks-distro-base/check-update/
eks-distro-base/*-pushed
eks-distro-base/make-tests/actual/
builder-base/tmp/
tools/eksDistroBuildToolingOpsTools/bin

