repositories:
- org: "aws"
  name: "eks-distro"
  extraPlugins: []
- org: "aws"
  name: "eks-distro-build-tooling"
  extraPlugins: []
- org: "aws"
  name: "eks-distro-prow-jobs"
  extraPlugins: ["config-updater"]

prow:
  domain: ''
  presubmitsBucketName: ''
  tideStatusReconcilerBucketName: ''

dataplane:
  presubmits:
    clusterName: ''
    clusterCA: ''
    clusterEndpoint: ''
    clusterArn: ''
  postsubmits:
    clusterName: ''
    clusterCA: ''
    clusterEndpoint: ''
    clusterArn: ''

dryRun: false

region: 'us-west-2'

ingress:
  create: false
  annotations: {}

crier:
  image: gcr.io/k8s-prow/crier:v20200924-369a496323
  serviceAccount:
    create: false

deck:
  image: gcr.io/k8s-prow/deck:v20200924-369a496323
  serviceAccount:
    create: false

ghproxy:
  image: gcr.io/k8s-prow/ghproxy:v20200924-369a496323
  volumeSize: 100

hook:
  image: gcr.io/k8s-prow/hook:v20200924-369a496323
  service:
    type: 'LoadBalancer'
  serviceAccount:
    create: false

horologium:
  image: gcr.io/k8s-prow/horologium:v20200924-369a496323
  serviceAccount:
    create: false

prowControllerManager:
  image: gcr.io/k8s-prow/prow-controller-manager:v20200924-369a496323
  serviceAccount:
    create: false

sinker:
  image: gcr.io/k8s-prow/sinker:v20200924-369a496323
  serviceAccount:
    create: false

statusreconciler:
  image: gcr.io/k8s-prow/status-reconciler:v20200924-369a496323
  serviceAccount:
    create: false

tide:
  image: gcr.io/k8s-prow/tide:v20200924-369a496323
  serviceAccount:
    create: false

githubToken:
  Secret:
   create: false
  token: ''

hmacToken:
  Secret:
    create: false
  hmac: ''

s3Credentials:
  Secret:
    create: true

utility_images:
  clonerefs: gcr.io/k8s-prow/clonerefs:v20200924-369a496323
  entrypoint: gcr.io/k8s-prow/entrypoint:v20200924-369a496323
  initupload: gcr.io/k8s-prow/initupload:v20200924-369a496323
  sidecar: gcr.io/k8s-prow/sidecar:v20200924-369a496323

awsIamAuthenticator:
  image: 520703868821.dkr.ecr.us-east-1.amazonaws.com/kubernetes-sigs/aws-iam-authenticator:v0.5.2-eks-1-18-1

# Namespace on the control plane to look for prow jobs
prowJobNamespace: "default"
# Namespae on the data plane to run pods in
dataplaneNamespace: "default"

plugins:
  configUpdaterMaps:
    config/docker-ecr-config.json:
      name: build-setup
      clusters:
        prow-postsubmits-cluster: # cluster name
        - default # namespace
        prow-presubmits-cluster: # cluster name
        - default # namespace
    scripts/buildkitd-entrypoint.sh:
      name: buildkitd-entrypoint
      clusters:
        prow-postsubmits-cluster: # cluster name
        - default # namespace
        prow-presubmits-cluster: # cluster name
        - default # namespace
    jobs/**/*.yaml:
      name: job-config
