# Copyright 2020 Amazon.com Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

repositories:
- org: "aws"
  name: "eks-distro"
  extraPlugins: []
- org: "aws"
  name: "eks-distro-build-tooling"
  extraPlugins: []
- org: "aws"
  name: "eks-distro-prow-jobs"
  extraPlugins: ["config-updater"]

prow:
  domain: ''
  presubmitsBucketName: ''
  tideStatusReconcilerBucketName: ''

kubeconfig: ''

dryRun: false

region: 'us-west-2'

ingress:
  create: false
  annotations: {}

crier:
  scrape_metrics: false
  image: gcr.io/k8s-prow/crier:v20200924-369a496323
  serviceAccount:
    create: false

deck:
  scrape_metrics: false
  image: gcr.io/k8s-prow/deck:v20200924-369a496323
  serviceAccount:
    create: false

ghproxy:
  scrape_metrics: false
  image: gcr.io/k8s-prow/ghproxy:v20200924-369a496323
  volumeSize: 100

hook:
  scrape_metrics: false
  image: gcr.io/k8s-prow/hook:v20200924-369a496323
  service:
    type: 'LoadBalancer'
  serviceAccount:
    create: false

horologium:
  scrape_metrics: false
  image: gcr.io/k8s-prow/horologium:v20200924-369a496323
  serviceAccount:
    create: false

prowControllerManager:
  scrape_metrics: false
  image: gcr.io/k8s-prow/prow-controller-manager:v20200924-369a496323
  serviceAccount:
    create: false

sinker:
  scrape_metrics: false
  image: gcr.io/k8s-prow/sinker:v20200924-369a496323
  serviceAccount:
    create: false

statusreconciler:
  image: gcr.io/k8s-prow/status-reconciler:v20200924-369a496323
  serviceAccount:
    create: false

tide:
  scrape_metrics: false
  image: gcr.io/k8s-prow/tide:v20200924-369a496323
  serviceAccount:
    create: false

githubToken:
  Secret:
   create: false
  token: ''

hmacToken:
  Secret:
    create: false
  hmac: ''

s3Credentials:
  Secret:
    create: true

utility_images:
  clonerefs: gcr.io/k8s-prow/clonerefs:v20200924-369a496323
  entrypoint: gcr.io/k8s-prow/entrypoint:v20200924-369a496323
  initupload: gcr.io/k8s-prow/initupload:v20200924-369a496323
  sidecar: gcr.io/k8s-prow/sidecar:v20200924-369a496323

awsIamAuthenticator:
  image: 520703868821.dkr.ecr.us-east-1.amazonaws.com/kubernetes-sigs/aws-iam-authenticator:v0.5.2-eks-1-18-1

# Namespace on the control plane to look for prow jobs
prowJobNamespace: "default"
# Namespace on the data plane to run pods in
dataplaneNamespace: "default"

plugins:
  configUpdaterMaps:
    config/docker-ecr-config.json:
      name: build-setup
      clusters:
        prow-postsubmits-cluster: # cluster name
        - default # namespace
        prow-presubmits-cluster: # cluster name
        - default # namespace
    scripts/buildkitd-entrypoint.sh:
      name: buildkitd-entrypoint
      clusters:
        prow-postsubmits-cluster: # cluster name
        - default # namespace
        prow-presubmits-cluster: # cluster name
        - default # namespace
    jobs/**/*.yaml:
      name: job-config
