name: Test coverage
on:
  pull_request:
    paths:
      - 'tools/eksDistroBuildToolingOpsTools/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.22"
      - name: Run go test with coverage
        run: |
          cd tools/eksDistroBuildToolingOpsTools/
          go test ./... -race -coverprofile=coverage.out -covermode=atomic
      - name: Codecov upload
        uses: codecov/codecov-action@v3.1.0
        with:
          working-directory: 'tools/eksDistroBuildToolingOpsTools'
          files: ./coverage.txt
