name: golangci-lint
on:
  pull_request:
    paths:
      - 'tools/eksDistroBuildToolingOpsTools/**'
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - run: go version
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
          working-directory: 'tools/eksDistroBuildToolingOpsTools'
          # Disable package caching to avoid a double cache with setup-go.
          skip-pkg-cache: true
          args: --timeout 10m
